<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
   {% if site.google_analytics %}
   <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', '{{ site.google_analytics }}');
   </script>
   {% endif %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% seo %}
   <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
   <!--[if lt IE 9]>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
   <![endif]-->
</head>
<body>
   <header class="main-header">
      <div class="container">
         <div class="logo-container">
            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" class="profile-image" />
            {% endif %}
            <h1 class="site-title">{{ site.title | default: site.github.repository_name }}</h1>
         </div>
         <nav class="main-nav">
            <ul>
               <li><a href="{{ "/" | absolute_url }}">Home</a></li>
               <li><a href="#projects">Projects</a></li>
               <li><a href="#skills">Skills</a></li>
               <li><a href="#blog">Blog</a></li>
               {% if site.github.is_user_page %}
               <li><a href="{{ site.github.owner_url }}">GitHub</a></li>
               {% endif %}
            </ul>
         </nav>
      </div>
   </header>

   <main>
      <div class="container">
         <div class="hero-section">
            <div class="hero-content">
               <h2 class="hero-heading">{{ site.description | default: site.github.project_tagline }}</h2>
            </div>
         </div>

         <section class="content-section">
            {{ content }}
         </section>
      </div>
   </main>

   <footer>
      <div class="container">
         <div class="footer-content">
            {% if site.github.is_project_page %}
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p><small>&copy; {% assign year = site.time | date: "%Y" %}{{ year }} Archita Vasuki. All rights reserved.</small></p>
         </div>
      </div>
   </footer>

   <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>